---
---
.home-header .container > div {
    height: 400px;
}

div.home-banner {
    background-color: #878787;
    background-image: url({{ site.baseurl }}/img/home/st-athanasius-banner.jpg);
    background-position: 15% top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid #D16A6A;
    display: inline-block;
    height: 420px;
    margin-top: -85px;
    width: 100%;
}

div.home-banner h1 {
    color: #D69D22;
    font-size: 43px;
    line-height: 64px;
    margin-top: 190px;
    text-shadow: 2px 2px 5px black;
}

div.events > ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
}

div.events > ul > li {
    padding-bottom: 5px;
    padding-top: 5px;
}

div.events > ul > li:not(:last-child) {
    border-bottom: 1px dotted gray;
}

div.events > ul .time {
    background-color: transparent;
    border: 1px solid #777;
    border-radius: .25em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .2em .6em .3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

div.events > ul > li ul {
    list-style: disc;
    padding-left: 25px;
}

div.events > ul > li label {
    background-color: #2F6A8E;
    border-radius: .25em;
    color: #fff;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    height: 18px;
    margin-bottom: 1px;
    margin-top: -1px;
    padding: 1px 6px 1px 6px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

div.events > ul > li label.primary {
    background-color: #337ab7;
}

.carousel-container {
    position: relative;
}

div.carousel-item {
    background-position: center;
    background-size: cover;
    display: inline-block;
    height: 300px;
}

.carousel-prev, .carousel-next {
    color: white;
    font-size: 3em;
    position: absolute;
    opacity: 0.7;
    top: 120px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

@media (max-width: 360px) {
    #brand-text {
        font-size: 90%;
    }

    div.home-banner {
        background-position: 18% top;
    }
}