<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">

<title>
    {% if page.lang == 'en' %}
        {% if page.title %}
            {{ page.title }} - {{ site.title-en }}
        {% else %}
            {{ site.title-en }}
        {% endif %}
    {% else %}
        {% if page.title %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    {% endif %}
</title>

<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">

<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/slick.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/menu.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script src="{{ site.baseurl }}/js/jquery-3.1.1.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/slick.min.js"></script>