<!-- Navigation -->
<div class="menu-wrapper">
    <nav class="navbar main-menu" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--<a class="navbar-brand hidden-xs hidden-sm hidden-md" href="{{ site.baseurl }}/">Saint Athanasius the Great<br>Romanian Orthodox Church</a>-->
            <a class="navbar-brand" href="{{ site.baseurl }}/en">Saint Athanasius Church</a>
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="home" href="{{ site.baseurl }}/en">
                        <div class="home" title="English"></div>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parish <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Spiritual patron St. Athanasius the Great</a></li>
                        <li><a href="#">Parish priest</a></li>
                        <li><a href="#">Parish council</a></li>
                        <li><a href="#">Our church history</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Members <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">New member registration</a></li>
                        <li><a href="#">Donations</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Community <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Coffee hour</a></li>
                        <li><a href="#">Saint Ana women organization</a></li>
                        <li><a href="#">Youth organization</a></li>
                        <li><a href="#">Private events</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orthodoxism <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Prayers</a></li>
                        <li><a href="#">Church etiquette</a></li>
                        <li><a href="#">Orthodox catechism</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
                <!-- Language menu -->
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" title="Switch language" href="#">
                        <div class="flag flag-us"></div> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a title="Română" href="{{ site.baseurl }}/index.html">
                                <div class="flag flag-ro"></div> Română
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
<!-- /.container -->
<div class="clearfix"></div>
