<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><strong>Biserica Sfântul Atanasie cel Mare</strong><br>
                3003 N Eola Rd, Aurora, IL 60502<br>
                <img style="margin-top: -2px; height: 10px;" src="{{ site.baseurl }}/img/icons/phone-gray.png" /> 602-614-3502<br>
                <img style="margin-top: -3px; height: 12px;" src="{{ site.baseurl }}/img/icons/facebook-gray.png" /> <a href="https://www.facebook.com/naperville.mission/" target="_blank">www.facebook.com/naperville.mission</a></p>

                <!--<ul class="footer-menu-links">
                    <li>
                        <a href="URL1">Option 1</a>
                    </li>
                    <span class="footer-menu-links-separator">|</span>
                    <li>
                        <a href="URL1">Contact</a>
                    </li>
                </ul>-->
            </div>
        </div>
    </div>
    <div class="container tiny-church hidden-xs">
        <div class="tiny-church-img"></div>
    </div>
</footer>

<div class="ground-line hidden-xs"></div>
