<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><strong>Biserica Sfântul Atanasie cel Mare</strong><br>
                3003 N Eola Rd, Aurora, IL 60502<br>
                <a href="https://www.facebook.com/naperville.mission/" target="_blank">
                    <img alt="Facebook" style="margin-top: -3px; height: 12px;" src="{{ site.baseurl }}/img/icons/facebook-gray.png" />
                    facebook.com/naperville.mission
                </a></p>
            </div>
        </div>
    </div>
    <div class="container tiny-church hidden-xs">
        <div class="tiny-church-img"></div>
    </div>
</footer>

<div class="ground-line hidden-xs"></div>
