<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">

{% if page.lang == 'en' %}
    {% if page.title %}
        {% assign title = page.title | append: ' - ' | append: site.title-en %}
    {% else %}
        {% assign title = site.title-en %}
    {% endif %}
{% else %}
    {% if page.title %}
        {% assign title = page.title | append: ' - ' | append: site.title %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}
{% endif %}

<title>{{ title }}</title>

<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">

<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/slick.css" rel="stylesheet">
<link href="{{ site.baseurl }}/css/menu.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Oswald&subset=latin-ext" rel="stylesheet">