---
layout: default
permalink: /index.html
---

<div class="container home-banner">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="text-align: center;">
            <h1 class="hidden-xs hidden-sm">Biserica Ortodoxă Română<br>Sfântul Atanasie cel Mare</h1>
        </div>
    </div>
</div>	

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="icon-seven">Program săptămânal</h3>

            <ul class="events">
            {% assign schedule = (site.schedule | first)  %}
            
            {% for entry in schedule.entries %}
                {% if entry.important %}
                    {% assign class = 'label-primary'  %}
                {% else %}
                    {% assign class = ''  %}
                {% endif %}
                <li>
                    <span class="label label-default {{class}}">{{ entry.date-ro }}</span>
                    {{  entry.description-ro }}
                    {% if entry.list-ro %}
                        <ul class="">
                            {% for subEntry in entry.list-ro %}
                            <li>{{ subEntry }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>

            <h3 class="icon-calendar">Calendar evenimente</h3>
            <ul class="events">
            {% assign events = (site.events | first)  %}
            
            {% for entry in events.entries %}
                {% if entry.showOnHomepage == nil or entry.showOnHomepage == true  %}
                    {% if entry.important %}
                        {% assign class = 'label-primary'  %}
                    {% else %}
                        {% assign class = ''  %}
                    {% endif %}
                    <li>
                        <span class="label label-default {{class}}">{{ entry.date-ro }}</span>
                        {{  entry.description-ro }}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Biserica noastră</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at odio et ipsum sagittis condimentum. Vestibulum efficitur porttitor massa, vitae feugiat nunc lacinia nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur in massa ut nunc pharetra tincidunt nec a sapien.</p>
            
            <p>
            <img class="img img-responsive" src="{{ site.baseurl }}/img/medium-church.jpg" />
            </p>

            <p>Integer interdum, orci eu pulvinar semper, nunc eros vestibulum odio, at bibendum felis leo ultricies purus. Suspendisse a eros at orci euismod pharetra vel et velit. Suspendisse egestas odio eu eros malesuada, ac dictum lacus bibendum. In libero ex, dictum nec dapibus sed, porttitor a purus. Curabitur faucibus ornare nunc sed ultricies. In hac habitasse platea dictumst. Vestibulum dolor lectus, finibus ac bibendum sit amet, pretium ut leo.</p>

            <p>Vivamus a purus ut arcu vulputate congue. Phasellus nec neque non est pretium placerat. Donec aliquam, lacus ut venenatis euismod, diam leo placerat metus, non accumsan lectus est a eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas pharetra dolor vitae diam rhoncus, cursus luctus turpis euismod. Proin gravida eget orci a pellentesque. Nullam ut justo felis. Morbi interdum dui at lectus mollis, ac dapibus purus varius.</p>

            <p>Duis nec faucibus augue, a vehicula justo. In varius maximus ex at posuere. Vivamus vel placerat leo. Ut vitae efficitur urna. Nulla rutrum dictum leo, et porta dui. Nunc congue cursus eros ullamcorper molestie. Aliquam quis varius dui, at vehicula purus. Duis ligula tellus, blandit lacinia euismod a, dignissim fermentum urna.</p>


        </div>
        <div class="col-md-3">
            <div style="margin-top: 20px; padding-left: 30px;">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_donations">
                    <input type="hidden" name="business" value="gigi.duru3856193@gmail.com">
                    <input type="hidden" name="lc" value="BM">
                    <input type="hidden" name="item_name" value="Test">
                    <input type="hidden" name="item_number" value="123456">
                    <input type="hidden" name="no_note" value="0">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>


            <h3 class="icon-link">Link-uri rapide</h3>
            <!--<p></p>-->
            <ul>
                <li>
                    <a href="#">Primul link</a>
                </li>
                <li>
                    <a href="#">Al doilea link</a>
                </li>
                <li>
                    <a href="#">Al treilea link</a>
                </li>
                <li>
                    <a href="#">Al patrulea link</a>
                </li>
            </ul>

            <h3>Donec mollis sed ipsum</h3>
            <p>Etiam orci erat, eleifend ac mauris vestibulum, tincidunt tincidunt risus. Donec eget nisl odio. Mauris eu dolor id diam lacinia ullamcorper ut nec urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam pellentesque nulla orci, sit amet finibus arcu malesuada nec. Maecenas lobortis vel dui id feugiat. Suspendisse neque lorem, sagittis id euismod id, vulputate id enim. Vivamus hendrerit odio interdum dui venenatis, sed semper mauris porta. Morbi nulla metus, vulputate eu maximus ac, finibus ac arcu. Sed ornare augue eu felis vehicula posuere. Proin tortor mi, elementum id ante ac, fringilla suscipit nunc. Pellentesque fermentum libero ac lacus vestibulum, et auctor erat vulputate.</p>
        </div>
    </div>    
</div>