---
lang: ro
layout: default
permalink: /index.html
title-exclusive: Biserica Sfântul Atanasie cel Mare
---

<div class="container home-banner">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="text-align: center;">
            <h1 class="hidden-xs hidden-sm">Biserica Ortodoxă Română<br>Sfântul Atanasie cel Mare</h1>
        </div>
    </div>
</div>	

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="icon-seven">Program săptămânal</h3>
            
            <div class="events">
                {% capture schedule %}{% include schedule/schedule-ro.md %}{% endcapture %}
                {{ schedule | markdownify }}
            </div>
        </div>

        <div class="col-md-6">
            <!--<p> 
                <div class="videoWrapper-16-9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </p>-->

            <h2>Bine ați venit!</h2>

            <p>Vă urăm bun venit pe site-ul Bisericii Sfântul Atanasie cel Mare, cea mai nouă Biserică Ortodoxă Română din Suburbiile de Vest ale orașului Chicago (Aurora, Illinois), parte a Episcopiei Ortodoxe Române din America. Sperăm că veți găsi utile informațiile și anunțurile publicate pe acest site și vă invităm cu drag pe toți să ne vizitați în lăcaşul nostru spiritual.</p>
            
            <p>
                <img class="img img-responsive" src="{{ site.baseurl }}/img/medium-church.jpg" />
            </p>

            <p>Suntem o comunitate de oameni inimoși și entuziaști, aduși împreună de credința în Hristos și animată de dorința de a ajuta pe cei în nevoie și a conserva cultura și tradițiile românești pe pământ american. Membrii bisericii noastre sunt oameni de toate vârstele, cu meserii si preocupări dintre cele mai diverse și cu povești de viață fascinante.</p>

            <p>La sfârșitul anului 2016 am reușit să achizitionăm cladirea actuală a bisericii, situată în orașul Aurora, în imediata vecinătate a orașului Naperville și zonei Wheaton-Warrenville. Este o realizare de care suntem foarte mândri și ne bucurăm să putem acum găzdui în noul lăcaș bisericesc pe membrii parohiei noastre și pe oricine dorește să-și deschidă sufletul și să-și mărturisească dragostea pentru Dumnezeu.</p>

            <p>Vă așteptăm cu drag la Biserica Română Ortodoxă Sfântul Atanasie cel Mare din Aurora!</p>

            <!--<h3>Mesajul preotului paroh</h3>

            <p style="background-color: #7A462E; text-align: center"><img style="border-radius: 0px;" src="{{ site.baseurl }}/img/home/florin-soare.jpg"></p>-->

        </div>

        <div class="col-md-3">
            <h3 class="icon-bell">Anunțuri</h3>
            <div class="events">
                {% capture schedule %}{% include announcements/announcements-ro.md %}{% endcapture %}
                {{ schedule | markdownify }}
            </div>

            <h3 class="icon-calendar">Calendar evenimente</h3>

            <div class="events">
                {% capture schedule %}{% include events/events-ro.md %}{% endcapture %}
                {{ schedule | markdownify }}
            </div>

            <!--<h3 class="icon-link">Link-uri rapide</h3>
            <ul>
                <li><a href="#">Primul link</a></li>
                <li><a href="#">Al doilea link</a></li>
                <li><a href="#">Al treilea link</a></li>
                <li><a href="#">Al patrulea link</a></li>
            </ul>-->

            <hr>
            <div style="margin-top: 0px; padding-left: 0px; text-align: center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="H2XBYTEEC64EL">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
    </div>
</div>