---
lang: ro
layout: default
permalink: /index.html
---

<div class="container home-banner">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8" style="text-align: center;">
            <h1 class="hidden-xs hidden-sm">Biserica Ortodoxă Română<br>Sfântul Atanasie cel Mare</h1>
        </div>
    </div>
</div>	

<div class="container">
    <div class="row">
        <div class="col-md-3 events">
            <h3 class="icon-seven">Program săptămânal</h3>

            {% capture schedule %}{% include schedule/schedule-ro.md %}{% endcapture %}
            {{ schedule | markdownify }}

            <h3 class="icon-calendar">Calendar evenimente</h3>
            {% capture schedule %}{% include events/events-ro.md %}{% endcapture %}
            {{ schedule | markdownify }}
        </div>
        <div class="col-md-6">
            <!--<p> 
                <div class="videoWrapper-16-9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </p>-->

            <h2>Despre noi</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida facilisis euismod. Morbi dictum sit amet felis ac vestibulum. Vestibulum eget pulvinar dui. Integer ullamcorper dapibus quam eu varius. Duis pharetra mi purus, eget posuere magna lacinia sed. Pellentesque ac dui velit. Integer porttitor, orci eget pulvinar posuere, nunc leo egestas quam, sed fringilla arcu diam non libero. Nam vulputate turpis nisl, a sagittis sem imperdiet at. Maecenas condimentum, dolor ut bibendum sodales, leo ante commodo nibh, id fermentum lorem ante quis ligula. Phasellus tincidunt interdum fringilla. Ut tempus nisi a turpis ultrices, in gravida ipsum finibus. Aenean vitae lectus lobortis lorem sollicitudin hendrerit in eget urna. Etiam molestie nunc vitae sapien placerat, et pulvinar felis volutpat. Ut efficitur nunc sapien, a iaculis velit volutpat ac. Morbi hendrerit mauris tincidunt felis elementum, eu auctor massa commodo.</p>
            
            <p>
                <img class="img img-responsive" src="{{ site.baseurl }}/img/medium-church.jpg" />
            </p>

            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec viverra ut nisl vitae mollis. Integer justo libero, cursus ac elit condimentum, finibus pellentesque urna. Vivamus vitae enim vehicula, placerat quam vitae, condimentum dui. Sed sollicitudin semper neque vitae finibus. Aenean pretium placerat convallis. Praesent tincidunt tincidunt porttitor. Vivamus laoreet sodales nibh, a tempor elit euismod eu.</p>

            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse bibendum placerat pellentesque. Duis vitae est eros. Aliquam ultrices nec urna sit amet hendrerit. Sed vel imperdiet metus, hendrerit molestie tortor. Aliquam erat volutpat. Phasellus in enim nec metus cursus lobortis.</p>

            <p>Vă așteptăm cu drag la Biserica Română Ortodoxă Sfântul Atanasie din Aurora!</p>

            <!--<h3>Mesajul preotului paroh</h3>

            <p style="background-color: #7A462E; text-align: center"><img style="border-radius: 0px;" src="{{ site.baseurl }}/img/home/florin-soare.jpg"></p>-->

        </div>

        <div class="col-md-3">
            <h3 class="icon-bell">Anunțuri</h3>
            <div class="events">
                {% capture schedule %}{% include announcements/announcements-ro.md %}{% endcapture %}
                {{ schedule | markdownify }}
            </div>

            <!--<h3 class="icon-link">Link-uri rapide</h3>
            <ul>
                <li><a href="#">Primul link</a></li>
                <li><a href="#">Al doilea link</a></li>
                <li><a href="#">Al treilea link</a></li>
                <li><a href="#">Al patrulea link</a></li>
            </ul>-->

            <hr>
            <div style="margin-top: 0px; padding-left: 0px; text-align: center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="H2XBYTEEC64EL">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </div>
    </div>
</div>