{% if page.lang %}
    {% assign lang-suffix = '-' | append: page.lang %}
{% else %}
    {% assign lang-suffix = '-ro' %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
	    {% include other/head-section.html %}
        {% include other/main-menu{{ lang-suffix }}.html %}
        
        <link href="{{ site.baseurl }}/css/home.css" rel="stylesheet">
    </head>

	<body>
        {{ lang-suffix }}

        <div class="main-content">
        {{ content }}
        </div>

        {% include other/footer{{ lang-suffix }}.html %}

        {% include other/analytics.html %}
	</body>
</html>